.metadata
.settings
.metadata/
.settings/
.project

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.jar

algorithm-analysis/Debug/algorithm-analysis


#LATEX FILES


*.aux
*.bak
*.backup
*.bbl
*.blg
*.cdx
*.clg
*.cnd
*.dvi
*.exa
*.glx
*.gxg
*.gxs
*.idx
*.ilg
*.ind
*.log
*.lof
*.lot
*.out
*.ps
*.toc

paper/analisis-asintotico-de-algoritmos.synctex.gz

*.gz


.metadata/.plugins/org.eclipse.cdt.core/.log

*.pdom

*.log

*.log

*.index

*.resources

*.prefs

*.xmi
algorithm-analysis/selection-sort.png
algorithm-analysis/selection-sort.txt
algorithm-analysis/bubble-sort.png
algorithm-analysis/bubble-sort.txt
algorithm-analysis/insertion-sort.png
algorithm-analysis/insertion-sort.txt
algorithm-analysis/merge-sort.png
algorithm-analysis/merge-sort.txt
algorithm-analysis/quick-sort.png
algorithm-analysis/quick-sort.txt
