.metadata
.settings

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.jar

algorithm-analysis/Debug/algorithm-analysis


#LATEX FILES


*.aux
*.bak
*.backup
*.bbl
*.blg
*.cdx
*.clg
*.cnd
*.dvi
*.exa
*.glx
*.gxg
*.gxs
*.idx
*.ilg
*.ind
*.log
*.lof
*.lot
*.out
*.ps
*.toc

paper/analisis-asintotico-de-algoritmos.synctex.gz

*.gz
